* {
  display: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header {
  position: fixed;
  top: 0;
  background-color: #319770;
  height: 64px;
  width: 100%;
}

.centerComp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hgroup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

hgroup .card-subheading {
  /* Visually, put on top, without affecting source order */
  order: -1;
}

.title {
  color: black; 
  font-size:75px;
  text-shadow: #319770 1px 0 5px;
}

.subtitle {
  color: black; 
  font-size:25px;
  text-shadow: #319770 1px 0 10px;
} 

.menu li a {
  color: white;
  font-size: larger;
  text-decoration: none;
  padding: 20px;
}

.menu li a:hover {
  color:beige;
  background-color: #2d8060;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container 
{
  padding: 20px 10px;
}

footer
{
  background-color: #319770;
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  margin-top: auto;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 1025px){
  .card 
  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    float: left;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
  }
  
  .card:hover 
  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-image {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card-content {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .menu li {
    list-style-type: none;  
    padding: 20px;
  }

  .content{
    height: auto;
    background-color: rgb(219, 255, 219);
    width: 50vw;
    padding: 50px;
    margin-top:50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 30px;
  }


  .parallax {
    margin-top: 10px;
    min-height: 500px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

} 

@media only screen and (max-width: 1024px){
  .card 
  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .card:hover 
  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-image {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card-content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
} 