/*
    palettes:
        https://colorswall.com/palette/2082/

*/

:root {
    --background_color: rgb(255, 255, 255);
    --links: rgb(0, 0, 0);
    --links_hover: rgb(255, 0, 0);
}

/* * {
    margin: 0;
    padding: 0;
} */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background_color);
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
}   

.menu {
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
    display: inline;
    display: inline-block;
    padding: 20px;
}

#content {
    flex: 1 0 auto;
    margin-left: 15%;
    margin-right: 15%;
}


#footer {
    flex-shrink: 0;
    padding: 15px;
    text-align: center;
    background-color: #e2e2e2;
}

input:disabled {
    color: red;
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--links);

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;

    transition:.2s;
}

.link:hover {
    color: var(--links_hover);
}

